html,body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.container{

    background-color: #2b2b2b ;
}

.row {
    height: 350px;
    width: 100%;
}

.nr1{
    background-image: url(/assets/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.topleft{
    position: absolute;
    width: 15%;
    height: 65%;
    background-color: #2b2b2b;
    opacity: 1.2;

}

.topleft p {

    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.line {
    content: "";
    width: 2px;
    height: 50px;
    background-color: white;
    margin-left: 15%;
}

.topleft i {
    display: block;
    color: white;
    padding: 3px;
    margin-left: 9%;
    font-size: 20px;
    margin-top: 5%;

}


nav {
    float: right;
}

a {
    padding: 10px;
    color: white;
    display: inline-block;
    width: 95px;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Georgia, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 25px;
}


.mobilemenu {
    display: none;
    color: #fff;
    padding: 15px;
    justify-content: center;
    text-align: end;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    float: right;
    padding: 10%;
    margin-left: 60%;
    letter-spacing: 5px;

}

.row.nr2 {
    display: inline-flex;
}

 .left {
    background-image: url(/assets/concert-hall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.left :first-child {
    width: 100px;
    color: white;
    font-weight: lighter;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.middle {
    background-image: url(/assets/bedroom-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.right {
    background-image: url(/assets/hotel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.row.nr3 {
    display: inline-flex;
}

.paris {
    background-image: url(/assets/bedroom-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.chicago {
    background-image: url(/assets/library.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.bucharest {
    background-image: url(/assets/kitchen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}






/* div.row.nr2 div {
    width: 33%;
} */