html,body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.container{

    background-color: #2b2b2b ;
}

.row {
    height: 550px;
    width: 100%;
}

.nr1{
    background-image: url(/assets/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.topleft{
    position: absolute;
    width: 15%;
    height: 65%;
    background-color: #2b2b2b;
    opacity: 1.2;

}

.topleft p {

    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.line {
    content: "";
    width: 2px;
    height: 50px;
    background-color: white;
    margin-left: 15%;
}

.topleft i {
    display: block;
    color: white;
    padding: 3px;
    margin-left: 9%;
    font-size: 20px;
    margin-top: 5%;

}


nav {
    float: right;
}

a {
    padding: 10px;
    color: white;
    display: inline-block;
    width: 95px;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Georgia, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 25px;
}


.mobilemenu {
    display: none;
    color: #fff;
    padding: 15px;
    justify-content: center;
    text-align: end;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    float: right;
    padding: 10%;
    margin-left: 60%;
    letter-spacing: 5px;

}

.row.nr2 {
    display: inline-flex;
}

 .left {
    background-image: url(/assets/concert-hall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.left :first-child {
    position:absolute;
    width: 100px;
    color: white;
    font-weight: lighter;
    text-align: center;
    left:5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.left :last-child{
    color: white;
    font-weight: lighter;
    left: -5%;
    bottom: 42px;
    position: absolute;
    transform: rotate(270deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}


.middle {
    background-image: url(/assets/bedroom-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.middle :first-child{
    position:absolute;
    width: 130px;
    color: white;
    font-weight: lighter;
    text-align: center;
    left:5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.middle :last-child{
    color: white;
    font-weight: lighter;
    left: -5%;
    bottom: 42px;
    position: absolute;
    transform: rotate(270deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.right {
    background-image: url(/assets/hotel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.right :first-child{
    position:absolute;
    width: 130px;
    color: white;
    font-weight: lighter;
    text-align: center;
    left:5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.right :last-child{
    color: white;
    font-weight: lighter;
    left: -5%;
    bottom: 42px;
    position: absolute;
    transform: rotate(270deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.row.nr3 {
    display: inline-flex;
}

.paris {
    background-image: url(/assets/bedroom-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.paris :first-child{
    position:absolute;
    width: 130px;
    color: white;
    font-weight: lighter;
    text-align: center;
    left:5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paris :last-child{
    color: white;
    font-weight: lighter;
    left: -5%;
    bottom: 42px;
    position: absolute;
    transform: rotate(270deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.chicago {
    background-image: url(/assets/library.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.chicago :first-child{
    position:absolute;
    width: 130px;
    color: white;
    font-weight: lighter;
    text-align: center;
    left:5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chicago :last-child{
    color: white;
    font-weight: lighter;
    left: -5%;
    bottom: 42px;
    position: absolute;
    transform: rotate(270deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.bucharest {
    background-image: url(/assets/kitchen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

.bucharest :first-child{
    position:absolute;
    width: 130px;
    color: white;
    font-weight: lighter;
    text-align: center;
    left:5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bucharest :last-child{
    color: white;
    font-weight: lighter;
    left: -5%;
    bottom: 42px;
    position: absolute;
    transform: rotate(270deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.row.nr4 {
    position: relative;
    text-align: center;
}

.firstbutton {
    padding: 5%;

}

button {
    border-radius: 20%;
    background-color: #3d3d3d;
    width: 140px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    border: none;
    text-transform: uppercase;

}

.bottomtext{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 30px;
      letter-spacing: 10px;
      text-transform: uppercase;
      color: white;
      margin-bottom: 5%;
}

.bottomtext :last-child {
    color:#c09c78;
}

form{
    width: 100%;
}

.formwrapper{
    display: flex;
    justify-content: space-evenly;
    width: 66%;
    margin: auto;
}

input {
    padding: 3%;
    margin: 3%;
    height: 30px;
    background-color: #3d3d3d;
    border: none;
    color: white;
    font-size: 15px;
}

.textareawrapp {
    width: 33%;
    
}

.buttonwrapper{
    /* margin: auto; */
    padding: 5%;
    position: relative;
}


.buttonwrapper button{
    background-color:#c09c78 ;
    font-size: 12px;
}

.buttonwrapper i{
    margin-left: -4%;
    font-size: 15px;
    color: white;
}

textarea{
    background-color: #3d3d3d;
color: white;
border: none;
height: 85%;
width: 80%;
margin-top: 3%;
}

/* .textareawrapp::placeholder {
    padding: 2px;
} */


@media (max-width: 600px) {

    .container{
        padding: 0;
    }

    .menu{
        display: none;
    }
    
    .mobilemenu {
        display: flex;  
    }

    a {
        
        color: white;
        font-size: 40px;
        opacity: 0.6;
    }
    
    .topleft{
        width: 25%;
        height: 50%;
    }

    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-weight: lighter;
        font-size: 70px;
        letter-spacing: 15px;
        position: absolute;
        margin: 45% 2% 20%;
    }

    .row.nr2 {
        display: grid;
    }

    .left{
        width: 100%;
    }

    .left :first-child {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 2px;
        width: 70%;
        margin: 7% 10%;
        text-transform: uppercase;
    }

    .left :last-child{
        transform: none;
        margin: 8% 8% 7% 41%;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .middle{
        width: 100%;
    }

    .middle :first-child {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 2px;
        width: 70%;
        margin: 7% 10%;
        text-transform: uppercase;
    }

    .middle :last-child{
        transform: none;
        margin: 8% 8% 7% 41%;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .right{
        width: 100%;
    }

    .right :first-child {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 2px;
        width: 70%;
        margin: 7% 10%;
        text-transform: uppercase;
    }

    .right :last-child{
        transform: none;
        margin: 8% 8% 7% 41%;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .row.nr3 {
        display: grid;
    }

    .paris{
        width: 100%;
    }

    .paris :first-child {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 2px;
        width: 70%;
        margin: 7% 10%;
        text-transform: uppercase;
    }

    .paris :last-child{
        transform: none;
        margin: 8% 8% 7% 41%;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .chicago{
        width: 100%;
    }

    .chicago :first-child {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 2px;
        width: 70%;
        margin: 7% 10%;
        text-transform: uppercase;
    }

    .chicago :last-child{
        transform: none;
        margin: 8% 8% 7% 41%;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .bucharest{
        width: 100%;
    }

    .bucharest :first-child {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 2px;
        width: 70%;
        margin: 7% 10%;
        text-transform: uppercase;
    }

    .bucharest :last-child{
        transform: none;
        margin: 8% 8% 7% 41%;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .firstbutton{
        display: none;
    }

    .bottomtext{
        padding: 5%;
    }

    .formwrapper{
        display: grid;
        float: left;
        margin-left: 12%;
    }

    input {

        width: 450px;
        height: 20px;
    }
    
    .textareawrapp{
    height: 150%;
    width: 130%;
    margin-left: -9%;
    }

    .buttonwrapper{
        float: right;
        margin-top: 5%;
    
    }

    .button {
        width: 100px;
        height: 30px;
        font-size: 8px;
    }

    .buttonwrapper i {
        margin-left: -30%;
        font-size: 13px;
    }

    .row{
        height: 600px;
    }

}